:root {
    --first-color-dark: #0C0B0B;
    --first-color-light: #0F0E0E;
    --text-color: #B7B7B7;

    --first-color-card: #046313;
    --second-color-card:  #044A7D;
    --third-color-card: #725200
}