:root {
    --first-color-dark: #0C0B0B;
    --first-color-light: #0F0E0E;
    --button-color: #1b1b1b;
    --text-color: #B7B7B7;

    --project-color: #046313;
    --star-color:  #044A7D;
    --follow-color: #725200;
}